                
                /****removing the vertical scroll bar in the login html page****/
                html{
                    overflow-y: hidden;
                }
            
            
            body {
                   
                    margin: 0;
            }
            h1 {
                        text-align:center;
                    }
            
            /************************************************css for the nav bar**********************************************/
            ul {
                text-align: left;
                display: inline;
                margin:0;
                padding: 0;
                list-style: none;
            }
            .navbar {
                width: 100%;
                background: #1E1E1E;
                font-size: 18px;
                color: white;
            }
            ul li{
                font: bold 12px/18px sans-serif;
                display:inline-block;
                position: relative;
                padding:25px 20px;
                
                color: white;
                
                
            } 
            ul li a{
                text-decoration: none;
                padding:25px 20px;
                color:white;
                font-size: 18px;
            }
            ul li:hover {
                background: #1E1E1E;
                /* color:rgb(165, 243, 19); */
            }
            ul li a:hover {
                
                color:rgb(165, 243, 19);
            }
          ul div{
              float: right;
          }

         
           
            ul li:hover ul{
                display:block;
                opacity:1;
                visibility: visible;
            }
            /*****************************************end of css for the nav bar**********************************************/

            /************************************************css for the main content**********************************************/
            #main{
                width:100%;
                margin-right:0px;
                height:auto;
                
            }
            #welcome{
                float:left;
                width:60%;
                
            }
            #welcome img{
                width: 100%;
                height:600px;
            }
            #useraccount {
                float:left;
                width:30%;
                /* margin-left: 100px; */
            }
            /*****************************************end of css for the main content****************************************/

            /**************************************** Login/signup form CSS************************************/
            .form{
            position:absolute;
            margin-left: 100px;
            /* margin-top: 100px; */
          
            /* left:50%;
            transform: translate(-50%,-50%); */
            width:300px;
            height:370px;
            background:white;
        }
        
        .form .head{
            width:100%;
            height: 55px;
            display: flex;
        }
        .form .head div{
            width:50%;
            height: 100%;
            text-align: center;
            font-size: 22px;
            line-height: 55px;
            cursor:pointer;
            background: transparent;
        }
        .form .head .signup >div:nth-child(1),.form .head >div:nth-child(2){
            
            background: #1E1E1E;
            transition: all .3s ease-in-out;
            color:white;
        }
        .form .head .signup >div:nth-child(2){
            background: transparent !important;
            transition: all .3s ease-in-out;
        }
        .form .body{
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        .form .body > div {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all .3s ease-in-out;
        }
        .form .body .form-row input{
            width:98%;
            margin-top: 5px;
            font-size:18px;
            
        }
        .form .body .form-row button{
            width:40%;
            border:none;
            outline:none;
            border-radius:2px;
            background:rgb(165, 243, 19); 
            margin-left: 30%;
            margin-top: 10px;
            color:white;
            font-size: 22px;
            cursor:pointer;
           height:45px;
        }
        .form .body > div.login{
            left:0%;
        }
        .form .body > div.signup{
            left:100%;
        }
        .form .body.active >div.login{
            left:-100%;
        }
        .form .body.active >div.signup{
            left:0%;
        }

            /******************************************* end Login/signup form CSS *****************************/
             
